body{
    background-image: url("https://cdn.discordapp.com/attachments/1067564173778755714/1067936412982329354/Geezmo_2D_texture_line_art_topographic_map_f5241a84-8806-4871-90b1-aae4d69358f7.png");
    background-size: 240px;
    background-blend-mode: overlay;
    background-color: var(--theme-clr-1);
}
#root{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1{
    text-shadow: 2px 5px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;

    color: rgb(233, 219, 162);

    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 5em;
    margin: 10vw 0 0 0;
    padding: 0;
    line-height: 100%;

    &>*:nth-child(1){color: rgb(79, 239, 156);}
    &>*:nth-child(2){font-size: 1.191em; margin-top: -.12em;}
    &>*:nth-child(3){font-size: 1.43em;}
}

#dog-sideview{
    height: calc(20vw + 300px);
    transform: rotateY(180deg);
    z-index: -1;
    align-self: flex-end;
    filter: drop-shadow(20px 25px 20px rgb(7, 12, 10));
    margin-right: -2rem;
}

#content{
    display: flex;
    flex-direction: column;
}

#bridge{
    all:unset;
    width: 100%;
    height: 20vw;
    margin-top: calc(-4rem - 6vw);

    path:nth-of-type(1){fill: var(--theme-clr-3)}
    path:nth-of-type(2){stroke: var(--theme-clr-3)}
    filter: drop-shadow(0 0 1rem black);
    z-index: -1;
}

#bridge+*{
    background-color: var(--theme-clr-3);
    height: 100vh;
    margin-top: -1px;
}

@media screen and (min-width: 900px) {
    
}