body{
    background-color: var(--theme-clr-1);
}
#root{
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    flex-direction: column;
    text-align: center;

    color: rgb(233, 219, 162);

    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 5em;
    margin: 10vw 0 0 0;
    padding: 0;
    line-height: 100%;

    &>*:nth-child(1){color: rgb(79, 239, 156);}
    &>*:nth-child(2){font-size: 1.191em; margin-top: -.12em;}
    &>*:nth-child(3){font-size: 1.43em;}
}

#dog-sideview{
    height: 60vh;
    align-self: flex-end;
    background-image: radial-gradient(rgb(97, 129, 107), rgb(45, 79, 64), transparent 70%);
}

#bridge{
    all:unset;
    height: 30vh;
    margin-top: calc(-30vh + 10vw);

    path:nth-of-type(1){fill: var(--theme-clr-2)}
    path:nth-of-type(2){stroke: var(--theme-clr-2)}
}

#bridge+*{
    background-color: var(--theme-clr-2);
    height: 100vh;
    margin-top: -1px;
}